.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px; /* Adiciona um pouco de preenchimento nas laterais */
}

.form {
  max-width: 450px; /* Tamanho máximo para telas grandes */
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Títulos e Formatação */
.titulo {
  font-size: 2.5rem; /* Tamanho padrão para telas grandes */
  margin-bottom: 30px;
  font-weight: bold;
  color: #4352ffbe;
}

/* Bloco de Input */
.inputBlock {
  margin-bottom: 15px;
  width: 100%;
}

/* Labels */
.label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

/* Campos de Input e Select */
.input, .select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

/* Botão de Submit */
.submitButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #e91e63;
}

/* Ajustes para telas pequenas (celulares) */
@media (max-width: 600px) {
  .titulo {
      font-size: 2rem; /* Tamanho menor para celulares */
      margin-bottom: 20px; /* Menos espaço embaixo do título */
  }

  .form {
      padding: 20px; /* Menos preenchimento para dispositivos pequenos */
      max-width: 90%; /* Permite que o formulário ocupe mais espaço */
  }

  .label {
      font-size: 1rem; /* Tamanho menor da label */
  }

  .input, .select, .submitButton {
      font-size: 0.9rem; /* Tamanhos menores para inputs e botões */
  }
}

/* Ajustes para telas médias (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .titulo {
      font-size: 2.2rem; /* Tamanho médio para tablets */
      margin-bottom: 25px; /* Ajusta o espaço */
  }

  .form {
      padding: 30px; /* Ajuste do preenchimento */
  }

  .label {
      font-size: 1.1rem; /* Tamanho médio da label */
  }

  .input, .select, .submitButton {
      font-size: 1rem; /* Tamanhos médios para inputs e botões */
  }
}

/* Ajustes para telas grandes */
@media (min-width: 901px) {
  .titulo {
      font-size: 2.5rem; /* Tamanho padrão para telas grandes */
  }

  .form {
      padding: 40px; /* Preenchimento padrão */
  }

  .label {
      font-size: 1.2rem; /* Tamanho padrão da label */
  }

  .input, .select, .submitButton {
      font-size: 1rem; /* Tamanhos padrão para inputs e botões */
  }
}
