.navbar {
  background-color: #4352ffbe; /* Cor de fundo personalizada */
  padding: 10px; /* Espaçamento interno */
  color: red;  
  display: flex; /* Para organizar os itens em linha */
  justify-content: space-between; /* Para espaçar o título e os links */
  align-items: center; /* Alinhamento vertical */
}

/* Define o texto do título (Quiz Educacional) como branco */
.navbar .navbar-brand {
  color: white;
}

/* Define o texto dos links "Início" e "Sobre" como branco */
.navbar .navlink,
.navbar .linknav {
  color: white;
  text-decoration: none; /* Remove o sublinhado dos links */
  padding: 10px; /* Adiciona espaço ao redor dos links */
  margin-left: 50px;
}

/* Adiciona a regra para mudar a cor ao passar o mouse */
.navbar .navlink:hover,
.navbar .linknav:hover {
  color: lightgray; /* Apenas um exemplo, pode ajustar a cor desejada */
}

/* Ajustes para telas pequenas (celulares) */
@media (max-width: 600px) {
  .navbar {
      flex-direction: column; /* Empilha os itens verticalmente */
      padding: 20px; /* Aumenta o padding para dispositivos móveis */
  }

  .navbar .navlink,
  .navbar .linknav {
      padding: 5px; /* Reduz o padding dos links em telas pequenas */
  }
}

/* Ajustes para telas médias (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .navbar {
      flex-direction: row; /* Mantém os itens em linha */
  }

  .navbar .navlink,
  .navbar .linknav {
      padding: 8px; /* Ajusta o padding dos links para tablets */
  }
}

/* Ajustes para telas grandes */
@media (min-width: 901px) {
  .navbar {
      padding: 10px; /* Padding padrão para telas grandes */
  }

  .navbar .navlink,
  .navbar .linknav {
      padding: 10px; /* Padding padrão para links em telas grandes */
  }
}
