.navbar {
  background-color: #4352ffbe; 
  padding: 10px; 
  color: red;  
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.navbar .navbar-brand {
  color: white;
}


.navbar .links-container {
  display: flex;
  align-items: center;  
}

.navbar .navlink,
.navbar .linknav {
  color: white;
  text-decoration: none; 
  padding: 10px; 
  margin-left: 2px; 
 
}

.navbar .navlink:hover,
.navbar .linknav:hover,
.navbar .navbar-brand:hover {
  color: lightgray; 
}


@media (max-width: 600px) {
  .navbar {
      padding: 10px; 
      flex-direction: row; 
      align-items: center; 
  }

  .navbar .links-container {
      flex-direction: row; 
      width: auto; 
      justify-content: flex-start; 
  }

  .titulo {
    font-size: 50px;
    margin-left: 2px;
    margin-bottom: -17px;
    color: lightgray; 


}

  .navbar .navlink {
    padding: 5px; 
    margin-bottom: -20px;
    margin-top: 20px;
    

  }
  .navbar .linknav {
      padding: 5px; 
      margin-left: 70px;
      margin-top: -14px;

      
  }


}

@media (min-width: 601px) and (max-width: 900px) {
  .navbar {
      flex-direction: row; 
  }

  .navbar .navlink,
  .navbar .linknav {
      padding: 8px; 
  }
}

@media (min-width: 901px) {
  .navbar {
      padding: 10px; 
      font-size: 1rem;
  }

  .titulo {
      font-size: 50px;
      margin-left: -20px;

  }

  .navbar .navlink,
  .navbar .linknav {
      padding: 20px;
      margin-left: -2px;
      margin-bottom: -15px;

  }
}
